@import 'reset';

$green: #65dbcc;
$purple: #5e42a6;

html {
    height: 100%;
}

body {
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
    font-family: 'Roboto', Arial, 'Trebuchet MS', sans-serif;
    height: 100%;
}

h1, h2, h3 {
    @import url(https://fonts.googleapis.com/css?family=Bree+Serif);
    font-family: 'Bree Serif', cursive;
}

h1 {
    color: white;
    font-size: 36px;
    padding: 12px 0;
    text-align: center;
}

h2 {
    color: $purple;
    font-size: 28px;
    padding: 12px 0 36px 0;
}

h3 {
    color: $green;
    font-size: 24px;
    padding: 18px 0;
}

.italic {
    font-style: italic;
}

a {
    color: $green;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $green;
    }
}

ul {
    list-style-type: none;
    overflow: auto;
    margin-bottom: 24px;
}

.btn {
    background: $purple;
    border-radius: 3px;
    box-shadow: 0 3px 0 lightgrey;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 12px 24px;

    &.disabled {
        background: grey;
        cursor: not-allowed;
        color: white;

        &:hover {
            background: grey;
        }
        &:active {
            box-shadow: 0 3px 0 lightgrey;
            margin-top: 0;
        }
    }

    &:hover {
        background: $green;
        color: white;
    }

    &:active {
        box-shadow: none;
        margin-top: 3px;
        transition: 0s;
    }
}

p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 700px;
    padding-bottom: 12px;

    &:last-child {
        padding-bottom: 0;
    }
}

code {
    color: crimson;
}
// ui-view wrapper
.wrapper {
    height: 100%;
    position: relative;
}

.sidebar {
    background: linear-gradient($purple, purple);
    float: left;
    height: 100%;
    position: relative;
    width: 320px;
    z-index: 10;

    header {
        padding: 24px;
    }
}

nav ul{

    li {
        border-bottom: 1px dotted white;

        &:last-child {
            border-bottom: 0;
        }

        a {
            color: white;
            display: inline-block;
            padding: 12px 0;
            width: 100%;
        }

        .active {
            color: $green;
        }
    }
}

ul.list {
    max-width: 400px;
    width: 100%;

    li {
        display: flex;
        font-size: 18px;
        padding: 12px;
        width: 100%;

        &:nth-child(odd) {
            background: #f0ebff;
        }

        &:nth-child(even) {
            background: #e8fffc;
        }
    }

    .player-number,
    .player-name {
        float: left;
    }

    .player-number {
        padding-right: 24px;
        font-weight: bold;
        color: $purple;
        font-family: 'Bree serif', cursive;
    }
}

ul.list-players-game {
    border: 2px solid $purple;

    li {
        float: left;
        text-align: center;

        .name {
            background: $purple;
            color: white;
            font-weight: bold;
            font-size: 20px;
            padding: 12px 0;
        }

        &.active-player {

            .name, .total {
                background: $green;
                color: $purple;
            }
        }

        &.column-1 {
            width: 100%;
        }

        &.column-2 {
            width: 50%;
        }

        &.column-3 {
            width: 33.33%;
        }

        &.column-4 {
            width: 25%;
        }

        &.column-5 {
            width: 20%;
        }

        &.column-6 {
            width: 16.66%;
        }
    }
}

ul.score {
    font-size: 20px;
    margin-bottom: 0;

    li {
        padding: 6px 0;
        width: 100%;

        &:nth-child(odd) {
            background: #e8fffc;
        }

        &:nth-child(even) {
            background: #f0ebff;
        }

        &.total {
            background: $purple;
            color: white;
        }
    }

}

small {
    color: white;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.main {
    position: relative;

    .content {
        margin-left: 320px;
        padding: 24px;
    }
}

.game-wrapper {
    width: 100%;

    .score-board {
        float: left;
        width: 40%;
    }

    .dartboard-wrapper {
        float: left;
        text-align: left;
        width: 60%;

        #dartboard {
            margin-left: 24px;
            width: 600px;
        }
    }
}

.current-throw {
    color: $purple;
    font-weight: bold;
}

#single, #double, #triple, #bull, #blank, #frame {
    path, circle, ellipse {

        &:hover {
            cursor: pointer;
            fill: deepskyblue;
        }
    }
}