/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', Arial, 'Trebuchet MS', sans-serif;
  height: 100%; }

h1, h2, h3 {
  font-family: 'Bree Serif', cursive; }

h1 {
  color: white;
  font-size: 36px;
  padding: 12px 0;
  text-align: center; }

h2 {
  color: #5e42a6;
  font-size: 28px;
  padding: 12px 0 36px 0; }

h3 {
  color: #65dbcc;
  font-size: 24px;
  padding: 18px 0; }

.italic {
  font-style: italic; }

a {
  color: #65dbcc;
  text-decoration: none;
  transition: 0.5s; }
  a:hover {
    color: #65dbcc; }

ul {
  list-style-type: none;
  overflow: auto;
  margin-bottom: 24px; }

.btn {
  background: #5e42a6;
  border-radius: 3px;
  box-shadow: 0 3px 0 lightgrey;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px; }
  .btn.disabled {
    background: grey;
    cursor: not-allowed;
    color: white; }
    .btn.disabled:hover {
      background: grey; }
    .btn.disabled:active {
      box-shadow: 0 3px 0 lightgrey;
      margin-top: 0; }
  .btn:hover {
    background: #65dbcc;
    color: white; }
  .btn:active {
    box-shadow: none;
    margin-top: 3px;
    transition: 0s; }

p {
  font-size: 18px;
  line-height: 1.5;
  max-width: 700px;
  padding-bottom: 12px; }
  p:last-child {
    padding-bottom: 0; }

code {
  color: crimson; }

.wrapper {
  height: 100%;
  position: relative; }

.sidebar {
  background: linear-gradient(#5e42a6, purple);
  float: left;
  height: 100%;
  position: relative;
  width: 320px;
  z-index: 10; }
  .sidebar header {
    padding: 24px; }

nav ul li {
  border-bottom: 1px dotted white; }
  nav ul li:last-child {
    border-bottom: 0; }
  nav ul li a {
    color: white;
    display: inline-block;
    padding: 12px 0;
    width: 100%; }
  nav ul li .active {
    color: #65dbcc; }

ul.list {
  max-width: 400px;
  width: 100%; }
  ul.list li {
    display: flex;
    font-size: 18px;
    padding: 12px;
    width: 100%; }
    ul.list li:nth-child(odd) {
      background: #f0ebff; }
    ul.list li:nth-child(even) {
      background: #e8fffc; }
  ul.list .player-number,
  ul.list .player-name {
    float: left; }
  ul.list .player-number {
    padding-right: 24px;
    font-weight: bold;
    color: #5e42a6;
    font-family: 'Bree serif', cursive; }

ul.list-players-game {
  border: 2px solid #5e42a6; }
  ul.list-players-game li {
    float: left;
    text-align: center; }
    ul.list-players-game li .name {
      background: #5e42a6;
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 12px 0; }
    ul.list-players-game li.active-player .name, ul.list-players-game li.active-player .total {
      background: #65dbcc;
      color: #5e42a6; }
    ul.list-players-game li.column-1 {
      width: 100%; }
    ul.list-players-game li.column-2 {
      width: 50%; }
    ul.list-players-game li.column-3 {
      width: 33.33%; }
    ul.list-players-game li.column-4 {
      width: 25%; }
    ul.list-players-game li.column-5 {
      width: 20%; }
    ul.list-players-game li.column-6 {
      width: 16.66%; }

ul.score {
  font-size: 20px;
  margin-bottom: 0; }
  ul.score li {
    padding: 6px 0;
    width: 100%; }
    ul.score li:nth-child(odd) {
      background: #e8fffc; }
    ul.score li:nth-child(even) {
      background: #f0ebff; }
    ul.score li.total {
      background: #5e42a6;
      color: white; }

small {
  color: white;
  font-size: 12px;
  font-style: italic;
  text-align: center; }

.main {
  position: relative; }
  .main .content {
    margin-left: 320px;
    padding: 24px; }

.game-wrapper {
  width: 100%; }
  .game-wrapper .score-board {
    float: left;
    width: 40%; }
  .game-wrapper .dartboard-wrapper {
    float: left;
    text-align: left;
    width: 60%; }
    .game-wrapper .dartboard-wrapper #dartboard {
      margin-left: 24px;
      width: 600px; }

.current-throw {
  color: #5e42a6;
  font-weight: bold; }

#single path:hover, #single circle:hover, #single ellipse:hover, #double path:hover, #double circle:hover, #double ellipse:hover, #triple path:hover, #triple circle:hover, #triple ellipse:hover, #bull path:hover, #bull circle:hover, #bull ellipse:hover, #blank path:hover, #blank circle:hover, #blank ellipse:hover, #frame path:hover, #frame circle:hover, #frame ellipse:hover {
  cursor: pointer;
  fill: deepskyblue; }
