<h2>Game</h2>

<div class="game-wrapper">

    <div class="score-board">
        <div>
            <h3>Hits:</h3>
            <p ng-repeat="throw in game.turn.throws" ng-class="{'current-throw': $index === game.throw}">
                Dart {{ $index + 1 }}: {{ throw.score }} - [{{ throw.area }} {{ throw.value }}]
            </p>

            <p><b>Total round: {{ game.totalHits }}</b></p>
        </div>

        <div>
            <h3>Players / Scoreboard</h3>
            <ul class="list-players-game" ng-if="game.players.length">
                <li ng-repeat="player in game.players track by $index" class="column-{{ game.players.length }}" ng-class="{'active-player': $index === game.activePlayer}">
                    <div class="name">{{ player.name }}</div>
                    <ul class="score">
                        <li ng-repeat="round in player.rounds">
                            {{ round.totalRound }}
                        </li>
                        <li class="total">{{ player.totalGame }}</li>
                    </ul>
                </li>
            </ul>
            <a ng-click="game.nextPlayer()" class="btn" ng-class="{'disabled': game.throw !== 3}">Next player</a>
        </div>
    </div>

    <div class="dartboard-wrapper">
        <svg version="1.1" id="dartboard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="-7 -12 800 800" enable-background="new -7 -12 800 800" xml:space="preserve">
            <g id="areas">
                <g id="frame">
                    <ellipse id="frame-0-frame" fill="#D3D3D3" cx="392.5" cy="388.1" rx="331.8" ry="331.8"/>
                </g>
                <g id="bull">
                    <path id="bull-25-outer" fill="#137E72" d="M423.8,388.1c0,17-13.8,30.8-30.8,30.8s-30.8-13.8-30.8-30.8c0-17,13.8-30.8,30.8-30.8
                        C410.1,357.2,423.8,371,423.8,388.1L423.8,388.1z M393,371.7c-9,0-16.3,7.3-16.3,16.4s7.3,16.4,16.4,16.3c9,0,16.3-7.3,16.3-16.3
                        S402,371.7,393,371.7z"/>
                    <circle id="bull-50-inner" fill="#C72831" cx="393" cy="388.1" r="13.7"/>
                </g>
                <g id="single">
                    <path id="single-5-inner" fill="#F1D5A5" d="M319.7,215.6c11.9-5,24.1-8.7,36.6-11.2l28.1,150.7c-2.2,0.5-4.3,1.3-6.2,2.2
                        l-73.3-134.7C309.6,220.2,314.6,217.8,319.7,215.6L319.7,215.6z"/>
                    <path id="single-5-outer" fill="#F1D5A5" d="M246.1,114.9l49.1,90.3c5.4-2.9,10.9-5.5,16.6-7.9c13.2-5.6,26.8-9.7,40.7-12.4
                        L333.8,83.8c-21.2,4.1-41.9,10.3-61.9,18.8C263.1,106.3,254.5,110.4,246.1,114.9L246.1,114.9z"/>
                    <path id="single-12-inner" d="M260.2,255.7c12.3-12.3,26.1-22.7,41.1-31.1l73.3,134.7c-1.9,1.2-3.6,2.5-5.2,4L258,257.9
                        C258.7,257.2,259.5,256.5,260.2,255.7L260.2,255.7z"/>
                    <path id="single-12-outer" d="M168.9,173.5l74.6,70.7c0.8-0.9,1.7-1.7,2.5-2.6c13.7-13.7,29-25.2,45.7-34.5l-49.1-90.3
                        c-25.3,14-48.5,31.4-69.2,52.2C171.9,170.5,170.3,172,168.9,173.5L168.9,173.5z"/>
                    <path id="single-9-inner" fill="#F1D5A5" d="M224.4,305.8c8-16.4,18.4-31.5,30.9-45l111.3,105.5c-1.4,1.7-2.7,3.5-3.8,5.5
                        L224.4,305.8z"/>
                    <path id="single-9-outer" fill="#F1D5A5" d="M206.3,297.3c8.9-18.3,20.5-35.1,34.5-50.1l-74.6-70.7
                        c-21.4,22.9-39.1,48.6-52.7,76.7L206.3,297.3z"/>
                    <path id="single-14-inner" d="M207.2,361.8c2.2-16,6.5-31.6,12.9-46.6c0.8-1.9,1.7-3.9,2.6-5.8l138.5,65.9
                        c-0.8,2-1.5,4.2-1.9,6.4L207.2,361.8z"/>
                    <path id="single-14-outer" d="M85.5,345.9l101.9,13.3c2.5-17.8,7.2-35.1,14.3-51.8c0.9-2.2,1.9-4.4,2.9-6.6l-92.8-44.2
                        c-1.7,3.6-3.3,7.1-4.8,10.8C96.3,292.6,89.1,319,85.5,345.9L85.5,345.9z"/>
                    <path id="single-11-inner" fill="#F1D5A5" d="M358.7,388.1c0-0.8,0-1.6,0.1-2.4l-152.1-19.9c-0.9,7.3-1.3,14.8-1.3,22.3
                        c0,11,0.9,21.7,2.8,32.3l150.8-28.1C358.8,390.8,358.7,389.5,358.7,388.1L358.7,388.1z"/>
                    <path id="single-11-outer" fill="#F1D5A5" d="M87.4,442.9c-3.2-18-4.8-36.2-4.8-54.8c0-12.9,0.8-25.6,2.3-38.2l101.9,13.3
                        c-1,8.2-1.5,16.5-1.5,24.9c0,12.2,1,24.1,3.1,36L87.4,442.9z"/>
                    <path id="single-8-inner" d="M220.1,460.9c-5-11.9-8.7-24.1-11.2-36.6l150.8-28.1c0.5,2.2,1.3,4.3,2.2,6.3l-134.7,73.3
                        C224.6,470.9,222.2,465.9,220.1,460.9L220.1,460.9z"/>
                    <path id="single-8-outer" d="M119.3,534.4l90.3-49.1c-2.9-5.4-5.5-10.9-7.9-16.6c-5.6-13.2-9.7-26.8-12.4-40.7L88.2,446.8
                        c4.1,21.1,10.3,41.9,18.7,61.9C110.7,517.5,114.8,526,119.3,534.4L119.3,534.4z"/>
                    <path id="single-16-inner" fill="#F1D5A5" d="M260.2,520.4c-12.3-12.3-22.7-26.1-31.1-41.1l134.7-73.3c1.2,1.9,2.5,3.6,4.1,5.2
                        L262.4,522.5C261.6,521.8,260.9,521.1,260.2,520.4L260.2,520.4z"/>
                    <path id="single-16-outer" fill="#F1D5A5" d="M178,611.6l70.7-74.6c-0.9-0.8-1.7-1.7-2.6-2.5c-13.7-13.7-25.2-29-34.5-45.7
                        l-90.3,49.2c14,25.3,31.4,48.6,52.1,69.2C174.9,608.7,176.4,610.2,178,611.6L178,611.6z"/>
                    <path id="single-7-inner" d="M310.3,556.2c-16.4-8-31.5-18.4-45-30.9l105.5-111.3c1.7,1.4,3.5,2.7,5.5,3.8L310.3,556.2z"/>
                    <path id="single-7-outer" d="M301.7,574.2c-18.3-8.9-35.1-20.5-50.2-34.5l-70.7,74.6c22.9,21.4,48.6,39.1,76.7,52.7
                        L301.7,574.2z"/>
                    <path id="single-19-inner" fill="#F1D5A5" d="M319.7,560.5c-1.9-0.8-3.9-1.7-5.8-2.6l65.9-138.5c2,0.8,4.2,1.5,6.4,1.9
                        l-19.9,152.1C350.2,571.1,334.7,566.8,319.7,560.5L319.7,560.5z"/>
                    <path id="single-19-outer" fill="#F1D5A5" d="M350.3,695l13.3-101.9c-17.8-2.5-35.1-7.2-51.8-14.3c-2.2-0.9-4.4-1.9-6.6-2.9
                        l-44.2,92.8c3.6,1.7,7.2,3.3,10.8,4.8C297.1,684.3,323.4,691.4,350.3,695L350.3,695z"/>
                    <path id="single-3-inner" d="M392.5,575.2c-7.5,0-14.9-0.4-22.3-1.3l19.9-152.1c0.8,0.1,1.6,0.1,2.4,0.1c1.4,0,2.8-0.1,4.2-0.3
                        l28.1,150.8C414.2,574.2,403.5,575.2,392.5,575.2z"/>
                    <path id="single-3-outer" d="M447.3,693.1L428.4,592c-11.8,2.1-23.8,3.1-36,3.1c-8.4,0-16.7-0.5-24.9-1.5l-13.3,101.9
                        c12.6,1.5,25.3,2.3,38.2,2.3C411,697.9,429.3,696.3,447.3,693.1L447.3,693.1z"/>
                    <path id="single-17-inner" fill="#F1D5A5" d="M465.3,560.5c-11.9,5-24.1,8.7-36.6,11.2l-28.1-150.8c2.2-0.5,4.3-1.3,6.2-2.2
                        l73.3,134.7C475.3,555.9,470.4,558.3,465.3,560.5L465.3,560.5z"/>
                    <path id="single-17-outer" fill="#F1D5A5" d="M538.9,661.2l-49.1-90.3c-5.4,2.9-10.9,5.5-16.6,7.9
                        c-13.2,5.6-26.8,9.7-40.7,12.4l18.8,101.1c21.2-4.1,41.9-10.3,61.9-18.8C521.9,669.8,530.5,665.7,538.9,661.2L538.9,661.2z"/>
                    <path id="single-2-inner" d="M524.8,520.4c-12.3,12.3-26.1,22.7-41.1,31.1l-73.3-134.7c1.9-1.2,3.6-2.5,5.2-4l111.3,105.5
                        C526.2,518.9,525.5,519.7,524.8,520.4L524.8,520.4z"/>
                    <path id="single-2-outer" d="M616.1,602.6l-74.6-70.7c-0.8,0.9-1.7,1.7-2.5,2.6c-13.7,13.7-29,25.2-45.7,34.5l49.1,90.3
                        c25.3-14,48.5-31.4,69.2-52.2C613.1,605.6,614.6,604.1,616.1,602.6L616.1,602.6z"/>
                    <path id="single-15-inner" fill="#F1D5A5" d="M560.6,470.3c-8,16.4-18.4,31.5-30.9,45L418.4,409.8c1.4-1.7,2.7-3.5,3.8-5.5
                        L560.6,470.3z"/>
                    <path id="single-15-outer" fill="#F1D5A5" d="M578.6,478.8c-8.9,18.3-20.5,35.1-34.5,50.1l74.6,70.7
                        c21.4-22.9,39.1-48.6,52.7-76.7L578.6,478.8z"/>
                    <path id="single-10-inner" d="M577.8,414.3c-2.2,16-6.5,31.6-12.9,46.6c-0.8,1.9-1.7,3.9-2.6,5.8l-138.5-65.9
                        c0.8-2,1.5-4.2,1.9-6.4L577.8,414.3z"/>
                    <path id="single-10-outer" d="M699.5,430.2l-101.9-13.3c-2.5,17.8-7.2,35.1-14.3,51.8c-0.9,2.2-1.9,4.4-2.9,6.6l92.8,44.2
                        c1.7-3.6,3.3-7.1,4.8-10.8C688.7,483.5,695.9,457.1,699.5,430.2L699.5,430.2z"/>
                    <path id="single-6-inner" fill="#F1D5A5" d="M426,383.8l150.8-28.1c1.8,10.6,2.8,21.3,2.8,32.3c0,7.5-0.4,14.9-1.3,22.3
                        l-152.1-19.9c0.1-0.8,0.1-1.6,0.1-2.4C426.3,386.7,426.2,385.3,426,383.8L426,383.8z"/>
                    <path id="single-6-outer" fill="#F1D5A5" d="M596.5,352.1c2.1,11.8,3.1,23.8,3.1,36c0,8.4-0.5,16.7-1.5,24.9L700,426.3
                        c1.5-12.6,2.3-25.3,2.3-38.2c0-18.5-1.6-36.8-4.8-54.8L596.5,352.1z"/>
                    <path id="single-13-inner" d="M564.9,315.2c5,11.9,8.8,24.1,11.2,36.6l-150.8,28.1c-0.5-2.2-1.3-4.3-2.2-6.2l134.7-73.3
                        C560.4,305.2,562.8,310.2,564.9,315.2L564.9,315.2z"/>
                    <path id="single-13-outer" d="M665.7,241.7l-90.3,49.2c2.9,5.4,5.5,11,8,16.6c5.6,13.2,9.7,26.8,12.5,40.7l101.1-18.8
                        c-4.1-21.2-10.3-41.9-18.8-61.9C674.3,258.6,670.2,250.1,665.7,241.7L665.7,241.7z"/>
                    <path id="single-4-inner" fill="#F1D5A5" d="M524.8,255.7c12.3,12.4,22.7,26.1,31.1,41.1l-134.7,73.3c-1.2-1.9-2.5-3.6-4-5.2
                        l105.5-111.3C523.3,254.4,524.1,255.1,524.8,255.7L524.8,255.7z"/>
                    <path id="single-4-outer" fill="#F1D5A5" d="M611.6,168.9c-1.5-1.5-3-3-4.6-4.5l-70.7,74.6c0.9,0.8,1.7,1.7,2.6,2.5
                        c13.7,13.7,25.2,29,34.5,45.7l90.3-49.1C649.8,212.9,632.3,189.7,611.6,168.9L611.6,168.9z"/>
                    <path id="single-18-inner" d="M474.7,219.9c16.4,8.1,31.5,18.4,45,30.9L414.2,362.2c-1.7-1.4-3.5-2.7-5.5-3.8L474.7,219.9z"/>
                    <path id="single-18-outer" d="M483.3,201.9c18.3,9,35.1,20.5,50.2,34.5l70.7-74.6c-22.9-21.4-48.6-39.1-76.7-52.7L483.3,201.9z
                        "/>
                    <path id="single-1-inner" fill="#F1D5A5" d="M471.1,218.2l-65.9,138.5c-2-0.8-4.2-1.5-6.4-1.9l19.9-152.1
                        c16,2.2,31.6,6.6,46.6,12.9C467.3,216.5,469.2,217.4,471.1,218.2L471.1,218.2z"/>
                    <path id="single-1-outer" fill="#F1D5A5" d="M434.6,81.1l-13.3,101.9c17.8,2.5,35.1,7.3,51.7,14.3c2.2,0.9,4.4,1.9,6.6,2.9
                        l44.2-92.8c-3.6-1.7-7.1-3.3-10.8-4.8C487.9,91.8,461.6,84.7,434.6,81.1L434.6,81.1z"/>
                    <path id="single-20-inner" d="M392.5,200.9c7.5,0,15,0.4,22.2,1.3l-19.9,152.1c-0.8-0.1-1.6-0.1-2.4-0.1
                        c-1.4,0-2.8,0.1-4.2,0.3l-28.1-150.8C370.8,201.9,381.5,200.9,392.5,200.9z"/>
                    <path id="single-20-outer" d="M337.7,83l18.8,101.1c11.8-2.1,23.8-3.1,36-3.1c8.4,0,16.7,0.5,24.8,1.5l13.3-101.9
                        c-12.6-1.5-25.3-2.3-38.2-2.3C373.9,78.2,355.7,79.8,337.7,83L337.7,83z"/>
                </g>
                <g id="double">
                    <path id="double-2" fill="#C72831" d="M613.7,609.3c-20.9,20.9-44.3,38.5-69.9,52.7l7.5,13.8c30.6-16.8,54.2-35,78.4-60.3
                        l-11.5-10.8C616.7,606.2,615.2,607.7,613.7,609.3L613.7,609.3z"/>
                    <path id="double-17" fill="#137E72" d="M514.3,676.3c-20.2,8.6-41.1,14.9-62.5,19l2.9,15.5c34.3-6.6,62.4-16.5,93.2-33.1
                        l-7.5-13.8C531.8,668.4,523.2,672.6,514.3,676.3L514.3,676.3z"/>
                    <path id="double-15" fill="#137E72" d="M621,601.7l11.5,10.9c23.9-25.5,40.8-50.1,55.9-81.5l-14.2-6.7
                        C660.5,552.7,642.6,578.6,621,601.7L621,601.7z"/>
                    <path id="double-6" fill="#137E72" d="M715.9,329.8l-15.4,2.9c3.2,18.1,4.9,36.6,4.9,55.3c0,13-0.8,25.9-2.3,38.6l15.6,2
                        C723,394,722.1,364.2,715.9,329.8L715.9,329.8z"/>
                    <path id="double-14" fill="#C72831" d="M104.2,266.3c1.6-3.7,3.2-7.3,4.9-10.9l-14.2-6.8c-14.9,31.6-23.3,60.2-28,94.8l15.6,2
                        C86.2,318.3,93.5,291.7,104.2,266.3L104.2,266.3z"/>
                    <path id="double-10" fill="#C72831" d="M680.8,509.8c-1.6,3.7-3.2,7.3-4.9,10.9l14.2,6.8c14.9-31.6,23.3-60.2,28-94.8l-15.6-2
                        C698.8,457.8,691.5,484.4,680.8,509.8L680.8,509.8z"/>
                    <path id="double-11" fill="#137E72" d="M79.6,388.1c0-13,0.8-25.9,2.3-38.6l-15.6-2c-4.4,34.7-3.6,64.5,2.7,98.8l15.4-2.9
                        C81.3,425.2,79.6,406.8,79.6,388.1L79.6,388.1z"/>
                    <path id="double-19" fill="#137E72" d="M270.7,676.3c-3.7-1.6-7.3-3.2-10.9-4.9l-6.8,14.2c31.6,14.9,60.2,23.3,94.8,28l2-15.6
                        C322.7,694.3,296.2,687.1,270.7,676.3L270.7,676.3z"/>
                    <path id="double-8" fill="#C72831" d="M104.2,509.8c-8.6-20.2-14.9-41.1-19-62.5l-15.4,2.9c6.6,34.3,16.6,62.4,33.1,93.2l13.8-7.5
                        C112.1,527.4,107.9,518.8,104.2,509.8L104.2,509.8z"/>
                    <path id="double-16" fill="#137E72" d="M171.3,609.3c-20.9-20.9-38.5-44.3-52.7-69.9l-13.8,7.5c16.9,30.6,35,54.2,60.2,78.4
                        l10.9-11.5C174.3,612.3,172.8,610.8,171.3,609.3L171.3,609.3z"/>
                    <path id="double-7" fill="#C72831" d="M178.8,616.5L167.9,628c25.5,23.9,50.1,40.8,81.6,55.9l6.7-14.2
                        C227.9,656,202,638.2,178.8,616.5L178.8,616.5z"/>
                    <path id="double-3" fill="#C72831" d="M392.5,700.9c-13,0-25.9-0.8-38.6-2.3l-2.1,15.7c14.6,1.8,28.1,2.8,41.5,2.8c0,0,0,0,0,0
                        c18.5,0,37.3-1.8,57.4-5.5l-2.9-15.6C429.7,699.2,411.2,700.9,392.5,700.9z"/>
                    <path id="double-1" fill="#137E72" d="M514.3,99.8c3.7,1.6,7.3,3.2,10.9,4.9l6.8-14.2c-31.6-14.9-60.2-23.3-94.8-28l-2,15.6
                        C462.3,81.8,488.8,89.1,514.3,99.8L514.3,99.8z"/>
                    <path id="double-20" fill="#C72831" d="M392.5,75.2c13,0,25.8,0.8,38.6,2.3l2-15.6c-14.6-1.8-28.2-2.7-41.5-2.7
                        c-18.5,0-37.3,1.8-57.4,5.4l2.9,15.5C355.3,76.9,373.7,75.2,392.5,75.2z"/>
                    <path id="double-18" fill="#C72831" d="M606.2,159.6l10.9-11.5c-25.5-23.9-50.1-40.8-81.5-55.9l-6.7,14.2
                        C557.1,120.1,583,137.9,606.2,159.6L606.2,159.6z"/>
                    <path id="double-5" fill="#137E72" d="M270.7,99.8c20.2-8.6,41.1-14.9,62.5-19l-2.9-15.4c-34.3,6.6-62.4,16.5-93.2,33.1l7.5,13.8
                        C253.1,107.7,261.8,103.5,270.7,99.8L270.7,99.8z"/>
                    <path id="double-12" fill="#C72831" d="M171.3,166.8c20.9-20.9,44.3-38.5,69.9-52.7l-7.5-13.8c-30.6,16.8-54.2,35-78.4,60.3
                        l11.5,10.8C168.2,169.9,169.7,168.4,171.3,166.8L171.3,166.8z"/>
                    <path id="double-9" fill="#137E72" d="M164,174.4l-11.5-10.9c-23.9,25.5-40.8,50.1-55.9,81.5l14.2,6.8
                        C124.5,223.5,142.3,197.5,164,174.4L164,174.4z"/>
                    <path id="double-4" fill="#137E72" d="M613.7,166.8c20.9,20.9,38.6,44.4,52.6,69.9l13.8-7.5c-16.8-30.6-35-54.2-60.3-78.4
                        L609,162.3C610.6,163.8,612.1,165.3,613.7,166.8L613.7,166.8z"/>
                    <path id="double-13" fill="#C72831" d="M680.8,266.3c8.6,20.2,14.9,41.2,18.9,62.5l15.4-2.9c-6.6-34.3-16.5-62.4-33.1-93.2
                        l-13.8,7.5C672.8,248.7,677,257.3,680.8,266.3L680.8,266.3z"/>
                </g>
                <g id="triple">
                    <path id="triple-10" fill="#C72831" d="M594.6,416.5l-13.9-1.8c-2.3,16.3-6.6,32.1-13.1,47.4c-0.8,2-1.7,3.9-2.6,5.9l12.6,6
                        c1-2.1,2-4.3,2.9-6.5C587.5,451.1,592.2,434,594.6,416.5L594.6,416.5z"/>
                    <path id="triple-13" fill="#C72831" d="M572.7,292.3l-12.3,6.7c2.6,4.9,5,10,7.2,15.2c5.1,12.1,8.9,24.5,11.4,37.2l13.7-2.6
                        c-2.7-13.7-6.8-27.1-12.3-40.1C578.2,303,575.5,297.5,572.7,292.3L572.7,292.3z"/>
                    <path id="triple-3" fill="#C72831" d="M427.9,589.1l-2.6-13.7c-10.8,1.9-21.7,2.8-32.8,2.8c-7.6,0-15.2-0.5-22.7-1.3l-1.8,13.9
                        c8.1,1,16.3,1.5,24.4,1.5C404.5,592.1,416.3,591.1,427.9,589.1L427.9,589.1z"/>
                    <path id="triple-2" fill="#C72831" d="M539.3,529.8l-10.1-9.6c-0.7,0.8-1.5,1.5-2.2,2.3c-12.5,12.5-26.5,23.1-41.8,31.6l6.7,12.3
                        c16.4-9.2,31.5-20.5,45-34C537.6,531.5,538.5,530.7,539.3,529.8L539.3,529.8z"/>
                    <path id="triple-8" fill="#C72831" d="M212.2,483.9l12.3-6.7c-2.6-4.9-5-10-7.2-15.1c-5.1-12.1-8.9-24.5-11.4-37.2l-13.7,2.6
                        c2.7,13.8,6.8,27.1,12.3,40.1C206.8,473.1,209.4,478.6,212.2,483.9L212.2,483.9z"/>
                    <path id="triple-14" fill="#C72831" d="M190.4,359.6l13.9,1.8c2.3-16.3,6.6-32.1,13.1-47.4c0.8-2,1.7-3.9,2.6-5.9l-12.6-6
                        c-1,2.1-2,4.3-2.9,6.5C197.5,325,192.8,342.1,190.4,359.6L190.4,359.6z"/>
                    <path id="triple-7" fill="#C72831" d="M309,558.9c-16.7-8.2-32.1-18.7-45.8-31.5l-9.6,10.2c14.8,13.8,31.3,25.1,49.4,33.9
                        L309,558.9z"/>
                    <path id="triple-9" fill="#137E72" d="M221.7,304.6c8.2-16.7,18.7-32.1,31.5-45.8l-10.1-9.6c-13.8,14.8-25.1,31.3-33.9,49.4
                        L221.7,304.6z"/>
                    <path id="triple-4" fill="#137E72" d="M534.3,241.3l-9.6,10.1c0.8,0.7,1.5,1.5,2.3,2.2c12.5,12.6,23.1,26.5,31.6,41.8l12.3-6.7
                        c-9.2-16.4-20.5-31.5-34-45C536,242.9,535.1,242.1,534.3,241.3L534.3,241.3z"/>
                    <path id="triple-17" fill="#137E72" d="M488.3,568.3l-6.7-12.3c-4.9,2.6-10,5-15.1,7.2c-12.1,5.1-24.5,8.9-37.2,11.4l2.6,13.7
                        c13.7-2.7,27.1-6.8,40.1-12.3C477.5,573.7,483,571.1,488.3,568.3L488.3,568.3z"/>
                    <path id="triple-15" fill="#137E72" d="M563.3,471.6c-8.2,16.7-18.7,32.1-31.5,45.8l10.1,9.6c13.8-14.8,25.1-31.3,33.9-49.4
                        L563.3,471.6z"/>
                    <path id="triple-18" fill="#C72831" d="M482,204.6l-6,12.6c16.7,8.2,32.1,18.7,45.8,31.5l9.6-10.1
                        C516.6,224.7,500.1,213.4,482,204.6L482,204.6z"/>
                    <path id="triple-20" fill="#C72831" d="M357.1,187l2.6,13.7c10.8-1.9,21.7-2.8,32.9-2.8c7.6,0,15.2,0.5,22.6,1.3l1.8-13.9
                        c-8.1-1-16.2-1.5-24.5-1.5C380.5,184,368.7,185,357.1,187L357.1,187z"/>
                    <path id="triple-5" fill="#137E72" d="M296.7,207.8l6.7,12.3c4.9-2.6,10-5,15.1-7.2c12.1-5.1,24.5-8.9,37.2-11.4l-2.6-13.7
                        c-13.7,2.7-27.1,6.8-40.1,12.3C307.5,202.4,302,205,296.7,207.8L296.7,207.8z"/>
                    <path id="triple-1" fill="#137E72" d="M420.9,186l-1.8,13.9c16.3,2.3,32.1,6.7,47.4,13.1c2,0.8,4,1.7,5.9,2.6l6-12.6
                        c-2.1-1-4.3-2-6.5-2.9C455.5,193,438.5,188.4,420.9,186L420.9,186z"/>
                    <path id="triple-12" fill="#C72831" d="M245.7,246.3l10.1,9.6c0.7-0.8,1.5-1.5,2.2-2.3c12.5-12.5,26.5-23.1,41.8-31.6l-6.7-12.3
                        c-16.4,9.2-31.5,20.5-45,34C247.3,244.6,246.5,245.4,245.7,246.3L245.7,246.3z"/>
                    <path id="triple-6" fill="#137E72" d="M579.8,355.2c1.9,10.8,2.8,21.7,2.8,32.9c0,7.6-0.5,15.2-1.3,22.6l13.9,1.8
                        c1-8.1,1.5-16.2,1.5-24.5c0-12-1-23.8-3.1-35.4L579.8,355.2z"/>
                    <path id="triple-11" fill="#137E72" d="M205.2,420.9c-1.9-10.8-2.8-21.7-2.8-32.9c0-7.6,0.5-15.2,1.3-22.7l-13.9-1.8
                        c-1,8.1-1.5,16.2-1.5,24.5c0,12,1,23.8,3.1,35.4L205.2,420.9z"/>
                    <path id="triple-19" fill="#137E72" d="M364.1,590.2l1.8-13.9c-16.3-2.3-32.1-6.6-47.4-13.1c-2-0.8-3.9-1.7-5.9-2.6l-6,12.6
                        c2.1,1,4.3,2,6.5,2.9C329.5,583.1,346.5,587.8,364.1,590.2L364.1,590.2z"/>
                    <path id="triple-16" fill="#137E72" d="M250.7,534.8l9.6-10.1c-0.8-0.7-1.5-1.5-2.3-2.2c-12.5-12.5-23.1-26.5-31.6-41.8l-12.3,6.7
                        c9.2,16.5,20.5,31.5,34,45C249,533.2,249.8,534,250.7,534.8L250.7,534.8z"/>
                </g>
                <g id="blank">
                    <path id="blank-0-outer" d="M793,388c0,220.9-179.1,400-400,400S-7,608.9-7,388S172.1-12,393-12S793,167.1,793,388z M392.5,56.3
                        c-183.3,0-331.8,148.6-331.8,331.8s148.6,331.8,331.8,331.8s331.8-148.6,331.8-331.8S575.8,56.3,392.5,56.3z"/>
                    <path id="score_2_" fill="#EFEFEF" d="M386.5,34.6l0.2,4.9l-18.5,0.8c0.1-1.9,0.6-3.6,1.6-5.3c0.9-1.7,2.8-4,5.6-6.8
                        c2.3-2.3,3.7-3.9,4.2-4.7c0.7-1.1,1-2.2,1-3.3c0-1.2-0.4-2.1-1.1-2.7c-0.7-0.6-1.5-0.9-2.7-0.8c-1.1,0-2,0.4-2.6,1.1
                        c-0.6,0.7-1,1.8-1,3.3l-5.3-0.3c0.2-2.9,1.1-5,2.7-6.4c1.6-1.3,3.6-2.1,6.1-2.2c2.7-0.1,4.9,0.5,6.5,1.9c1.6,1.4,2.5,3.2,2.6,5.4
                        c0.1,1.2-0.1,2.4-0.5,3.6c-0.4,1.1-1.1,2.3-2,3.6c-0.6,0.8-1.7,2.1-3.3,3.7c-1.6,1.6-2.6,2.7-3,3.2c-0.4,0.5-0.8,1-1,1.5
                        L386.5,34.6z M399.2,12c2.7,0,4.7,1,6.2,3c1.7,2.3,2.6,6,2.5,11.3c-0.1,5.2-1.1,8.9-2.9,11.2c-1.5,1.9-3.6,2.8-6.3,2.7
                        c-2.7,0-4.8-1.1-6.4-3.2c-1.6-2.1-2.4-5.8-2.3-11.1c0.1-5.2,1.1-8.9,2.9-11.1C394.5,12.9,396.6,12,399.2,12z M399.2,16.4
                        c-0.6,0-1.2,0.2-1.7,0.6s-0.9,1.1-1.2,2.2c-0.4,1.4-0.6,3.6-0.7,6.9s0.1,5.4,0.4,6.7c0.3,1.2,0.7,2,1.2,2.4
                        c0.5,0.4,1.1,0.6,1.7,0.6c0.6,0,1.2-0.2,1.7-0.6c0.5-0.4,0.9-1.1,1.2-2.2c0.4-1.3,0.6-3.6,0.7-6.9c0.1-3.2-0.1-5.4-0.4-6.7
                        c-0.3-1.2-0.7-2-1.2-2.4C400.4,16.6,399.8,16.4,399.2,16.4z M496.2,55.1l-5.1-1.5l5.6-19.1c-2.4,1.2-4.9,1.8-7.7,1.9l1.4-4.6
                        c1.4,0,3.1-0.4,5-1.2c1.9-0.7,3.4-1.8,4.4-3.3l4.1,1.2L496.2,55.1z M581.4,94.8l-4.5-2.8l10.5-16.8c-2.6,0.5-5.2,0.4-7.9-0.2
                        l2.5-4.1c1.4,0.3,3.1,0.4,5.2,0.2c2-0.2,3.8-0.9,5.2-2l3.6,2.3L581.4,94.8z M600,89.4c-0.8-1.3-1.1-2.5-1-3.7
                        c0.1-1.2,0.5-2.3,1.2-3.2c1.2-1.7,2.8-2.6,4.7-2.9s4,0.4,6.1,1.9c2.1,1.5,3.4,3.2,3.8,5.2c0.4,1.9,0,3.7-1.2,5.4
                        c-0.7,1-1.7,1.8-2.8,2.2c-1.1,0.4-2.3,0.5-3.6,0.2c0.9,1.4,1.3,2.8,1.3,4.2c0,1.4-0.5,2.8-1.4,4c-1.5,2.1-3.3,3.3-5.6,3.6
                        c-2.2,0.4-4.5-0.3-6.6-1.8c-2-1.5-3.4-3.2-3.9-5.2c-0.7-2.4-0.3-4.7,1.3-6.9c0.9-1.2,2-2.1,3.3-2.7
                        C596.8,89.2,598.4,89.1,600,89.4z M596.8,95.1c-0.8,1.2-1.2,2.3-1.1,3.4c0.1,1.1,0.7,2,1.6,2.6c0.9,0.6,1.8,0.8,2.9,0.6
                        c1-0.2,2-0.9,2.8-2.1c0.7-1,1.1-2.1,0.9-3.2s-0.7-1.9-1.6-2.6c-1-0.7-2.1-0.9-3.1-0.6C598.2,93.6,597.4,94.2,596.8,95.1z
                        M604,85.7c-0.6,0.9-0.8,1.7-0.7,2.5c0.1,0.8,0.6,1.5,1.4,2.1c0.8,0.6,1.6,0.8,2.5,0.7c0.8-0.1,1.6-0.6,2.2-1.5
                        c0.6-0.8,0.8-1.6,0.7-2.5c-0.1-0.8-0.6-1.5-1.4-2.1c-0.8-0.6-1.7-0.8-2.5-0.7C605.3,84.5,604.6,84.9,604,85.7z M670.9,177.9
                        l4.4-3.4l-6.8-9l3.7-2.8l21.1-1.1l2.7,3.5l-13.9,10.6l2.1,2.7l-3.7,2.8l-2.1-2.7l-4.4,3.4L670.9,177.9z M679,171.7l7.5-5.7
                        l-11.3,0.7L679,171.7z M718.2,262.8l-2-4.9l18.5-7.4c-2.4-1.1-4.5-2.7-6.2-4.8l4.4-1.8c0.9,1.1,2.3,2.2,4,3.2
                        c1.8,1,3.5,1.5,5.3,1.4l1.6,4L718.2,262.8z M727.8,267.3l2.2,4.7c-1.2,0.6-2,1.3-2.4,2.2s-0.5,1.8-0.2,2.8c0.3,1,1,1.8,2,2.2
                        c1,0.4,2.2,0.4,3.5,0c1.3-0.4,2.1-1.1,2.7-2c0.5-0.9,0.6-1.9,0.3-2.8c-0.2-0.6-0.6-1.4-1.1-2.2l4.3-0.8c0.4,1.4,1,2.3,1.9,2.8
                        c0.9,0.5,1.8,0.6,2.8,0.2c0.9-0.3,1.5-0.8,1.8-1.5c0.3-0.7,0.4-1.5,0.1-2.3c-0.3-0.9-0.8-1.5-1.6-1.9c-0.8-0.4-1.8-0.5-3-0.2
                        l-0.7-4.9c1.7-0.2,3.1-0.1,4.3,0.2c1.2,0.3,2.2,1,3.1,2c0.9,1,1.6,2.2,2.1,3.6c0.8,2.5,0.7,4.7-0.4,6.7c-0.9,1.6-2.1,2.7-3.7,3.3
                        c-2.3,0.8-4.5,0.1-6.7-1.9c0.2,1.6-0.1,3-1,4.3c-0.8,1.3-2,2.2-3.6,2.7c-2.3,0.8-4.5,0.6-6.7-0.6s-3.7-3-4.5-5.5
                        c-0.8-2.4-0.8-4.5,0.1-6.6C724.2,269.7,725.7,268.2,727.8,267.3z M762.3,389.7l-0.7-5.1c1-0.1,1.8-0.5,2.3-1
                        c0.5-0.5,0.7-1.2,0.7-2.1c0-1.1-0.5-2-1.6-2.8c-1-0.8-3.1-1.2-6.3-1.3c1.6,1.3,2.4,2.9,2.4,4.9c0,2.2-0.8,4.1-2.4,5.7
                        c-1.6,1.6-3.8,2.4-6.5,2.5c-2.8,0.1-5.1-0.7-6.8-2.4c-1.7-1.6-2.6-3.7-2.7-6.3c-0.1-2.8,1-5.1,3.1-6.9c2.1-1.8,5.6-2.8,10.6-2.9
                        c5-0.1,8.7,0.8,11,2.6c2.3,1.8,3.4,4.2,3.5,7.2c0,2.1-0.5,3.8-1.7,5.2C766.2,388.4,764.5,389.3,762.3,389.7z M750.6,378
                        c-1.7,0-3,0.4-3.9,1.3c-0.9,0.8-1.4,1.7-1.3,2.7c0,1,0.4,1.8,1.2,2.4c0.8,0.6,2,0.9,3.8,0.9c1.8,0,3.1-0.4,3.9-1.1
                        c0.8-0.7,1.2-1.6,1.2-2.7c0-1-0.4-1.9-1.2-2.5C753.3,378.3,752.1,377.9,750.6,378z M751.6,501.1l-1.3,5.1l-19.3-4.9
                        c1.3,2.3,2,4.8,2.2,7.6l-4.6-1.2c-0.1-1.4-0.6-3.1-1.4-5c-0.8-1.9-2-3.3-3.4-4.3l1.1-4.1L751.6,501.1z M730,476.9
                        c0.8-2.5,2.4-4.2,4.6-5.1c2.7-1,6.5-0.7,11.5,0.9c5,1.6,8.2,3.6,9.9,6c1.3,2,1.6,4.3,0.8,6.8c-0.8,2.5-2.5,4.3-4.9,5.2
                        s-6.2,0.6-11.2-1c-4.9-1.6-8.2-3.6-9.8-6C729.4,481.7,729.2,479.5,730,476.9z M734.2,478.3c-0.2,0.6-0.2,1.2,0.1,1.8
                        c0.2,0.6,0.8,1.2,1.7,1.8c1.2,0.8,3.3,1.6,6.4,2.6c3.1,1,5.2,1.5,6.5,1.6s2.1-0.1,2.7-0.4c0.5-0.3,0.9-0.8,1.1-1.4
                        c0.2-0.6,0.2-1.2-0.1-1.8c-0.2-0.6-0.8-1.2-1.7-1.8c-1.2-0.8-3.3-1.6-6.4-2.6s-5.2-1.5-6.5-1.6s-2.1,0.1-2.7,0.4
                        C734.7,477.2,734.4,477.7,734.2,478.3z M701.6,606.3l-2.8,4.5l-16.9-10.4c0.5,2.6,0.5,5.2-0.2,7.9l-4.1-2.5
                        c0.3-1.4,0.4-3.1,0.2-5.2c-0.2-2-0.9-3.7-2-5.1l2.2-3.6L701.6,606.3z M699.8,595.8l2.6-4.6c1.1,0.6,2.1,0.7,3.1,0.5
                        c1-0.2,1.8-0.7,2.3-1.5c0.6-0.9,0.8-1.9,0.5-3.1c-0.3-1.1-1.2-2.2-2.6-3.3c-1.4-1-2.6-1.4-3.8-1.3s-2,0.7-2.7,1.7
                        c-0.9,1.2-1.1,2.7-0.7,4.5l-3,3.1l-10.2-10.5l8-11.4l4,2.8l-5.7,8.1l3.3,3.4c0.2-1.3,0.6-2.5,1.4-3.5c1.3-1.9,3.2-3,5.5-3.4
                        c2.3-0.3,4.6,0.3,6.8,1.8c1.9,1.3,3.1,3,3.8,5.1c1,2.9,0.5,5.6-1.3,8.2c-1.5,2.1-3.2,3.4-5.3,3.9
                        C704,597.2,701.9,596.9,699.8,595.8z M623.6,672.8l3,3.9L612,687.9c-1-1.6-1.6-3.3-1.8-5.3c-0.2-1.9,0-4.9,0.7-8.8
                        c0.5-3.2,0.8-5.3,0.7-6.2c-0.1-1.3-0.5-2.4-1.1-3.2c-0.7-0.9-1.5-1.5-2.4-1.6c-0.9-0.1-1.8,0.2-2.7,0.9c-0.9,0.7-1.4,1.5-1.5,2.4
                        c-0.1,0.9,0.3,2,1.1,3.3l-4.5,2.8c-1.5-2.5-2-4.7-1.5-6.7c0.5-2,1.8-3.8,3.7-5.3c2.1-1.7,4.3-2.4,6.4-2.2s3.8,1.2,5.2,2.9
                        c0.8,1,1.3,2.1,1.6,3.2c0.3,1.2,0.5,2.5,0.5,4.1c0,1-0.2,2.7-0.6,4.9c-0.4,2.2-0.6,3.7-0.6,4.3c0,0.7,0,1.3,0,1.8L623.6,672.8z
                        M522.6,744.7l-4.9,2l-7.5-18.4c-1.1,2.4-2.7,4.5-4.8,6.3l-1.8-4.4c1.1-0.9,2.2-2.3,3.2-4.1c1-1.8,1.5-3.6,1.4-5.3l4-1.6
                        L522.6,744.7z M522.5,720.9l-1.6-4.6l17.1-5.8l1.2,3.6c-0.9,1.9-1.7,4.3-2.3,7.4s-0.8,6.2-0.5,9.4c0.2,3.2,0.7,5.9,1.5,8.2
                        l-4.8,1.6c-1.1-3.6-1.6-7.6-1.5-11.8c0.1-4.2,0.9-8.2,2.2-12L522.5,720.9z M393,756.4l5.1-0.7c0.2,1.3,0.7,2.3,1.4,3s1.6,1,2.6,1
                        c1.1,0,2-0.5,2.7-1.3s1.1-2,1-3.4c0-1.3-0.4-2.4-1.1-3.1c-0.7-0.8-1.6-1.1-2.6-1.1c-0.7,0-1.5,0.2-2.4,0.5l0.5-4.3
                        c1.4,0,2.5-0.3,3.2-1c0.7-0.7,1.1-1.6,1.1-2.6c0-0.9-0.3-1.7-0.9-2.2c-0.6-0.5-1.3-0.8-2.2-0.8c-0.9,0-1.7,0.4-2.3,1
                        c-0.6,0.6-1,1.6-1.1,2.8l-4.9-0.7c0.3-1.7,0.8-3,1.4-4c0.7-1,1.6-1.8,2.8-2.4c1.2-0.6,2.6-0.9,4.1-1c2.6-0.1,4.7,0.7,6.3,2.3
                        c1.3,1.3,2,2.8,2,4.5c0.1,2.4-1.2,4.4-3.8,5.9c1.6,0.3,2.9,1,3.8,2.2c1,1.2,1.5,2.6,1.5,4.2c0.1,2.4-0.8,4.5-2.5,6.2
                        c-1.7,1.7-3.9,2.6-6.5,2.7c-2.5,0.1-4.6-0.6-6.2-2C394.3,760.5,393.3,758.7,393,756.4z M282.1,747.6l-5.1-1.3l4.8-19.3
                        c-2.3,1.3-4.8,2-7.6,2.2l1.2-4.6c1.4-0.1,3.1-0.6,5-1.4c1.9-0.8,3.3-2,4.3-3.5l4.2,1L282.1,747.6z M291.3,743.4l5,1
                        c-0.2,1-0.1,1.9,0.2,2.5c0.4,0.6,0.9,1.1,1.8,1.3c1,0.3,2.1,0.1,3.1-0.6c1-0.7,2.1-2.6,3.3-5.5c-1.7,1.1-3.5,1.3-5.4,0.7
                        c-2.1-0.7-3.6-2-4.6-4.1c-1-2.1-1.1-4.4-0.3-6.9c0.8-2.7,2.3-4.6,4.4-5.7c2.1-1.1,4.4-1.3,6.8-0.5c2.7,0.8,4.5,2.6,5.6,5.2
                        s0.8,6.3-0.6,11c-1.5,4.8-3.5,8-5.9,9.5c-2.4,1.6-5.1,1.9-8,1c-2.1-0.6-3.5-1.7-4.5-3.2C291.3,747.6,291,745.7,291.3,743.4z
                        M306.2,736c0.5-1.6,0.5-3,0.1-4.1c-0.5-1.1-1.2-1.8-2.2-2.2c-0.9-0.3-1.8-0.2-2.7,0.4c-0.8,0.5-1.5,1.6-2.1,3.3
                        c-0.5,1.7-0.6,3-0.2,4c0.4,1,1.1,1.7,2.1,2c1,0.3,1.9,0.2,2.8-0.4C305,738.5,305.7,737.5,306.2,736z M181.1,678.5l2.8-4l14.8,10.3
                        l-2.2,3.1c-2.1,0.4-4.5,1.2-7.3,2.6c-2.8,1.4-5.5,3.1-7.9,5.2c-2.4,2.1-4.3,4.1-5.7,6.1l-4.2-2.9c2.2-3.1,5.1-5.8,8.6-8.2
                        c3.5-2.4,7.1-4.2,10.9-5.3L181.1,678.5z M91,612.3l-3.4-4.1l15.3-12.7c-2.6-0.3-5.1-1.2-7.4-2.7l3.7-3.1c1.2,0.8,2.8,1.4,4.8,1.8
                        c2,0.4,3.8,0.4,5.5-0.3l2.7,3.3L91,612.3z M123,620.2l-3.5-3.8c0.8-0.7,1.2-1.4,1.3-2.2c0.1-0.7-0.1-1.4-0.6-2.1
                        c-0.7-0.9-1.6-1.4-2.9-1.4c-1.3,0-3.2,0.8-5.9,2.5c2,0.1,3.6,1,4.8,2.6c1.3,1.8,1.7,3.8,1.3,6.1c-0.4,2.3-1.7,4.2-3.8,5.7
                        c-2.3,1.7-4.6,2.3-6.9,2c-2.3-0.3-4.3-1.5-5.8-3.6c-1.6-2.2-2.1-4.7-1.4-7.4c0.7-2.7,3-5.5,7-8.4c4.1-3,7.5-4.4,10.4-4.2
                        c2.9,0.2,5.2,1.5,7,3.9c1.2,1.7,1.8,3.4,1.7,5.2C125.4,616.9,124.6,618.6,123,620.2z M106.6,617.4c-1.4,1-2.2,2.1-2.5,3.3
                        c-0.3,1.2-0.1,2.2,0.5,3c0.6,0.8,1.4,1.2,2.4,1.3c1,0.1,2.2-0.4,3.6-1.4c1.4-1.1,2.3-2.1,2.5-3.2c0.3-1.1,0.1-2-0.6-2.9
                        c-0.6-0.8-1.4-1.3-2.5-1.4C109,616,107.9,616.5,106.6,617.4z M54.1,511.5c0.1-1.5,0.4-2.7,1.2-3.6c0.7-0.9,1.6-1.6,2.8-2
                        c1.9-0.7,3.8-0.7,5.5,0.2c1.8,0.9,3.1,2.5,4,5c0.9,2.4,1,4.6,0.3,6.4c-0.7,1.8-2.1,3.1-4,3.8c-1.2,0.5-2.4,0.5-3.5,0.3
                        s-2.2-0.9-3.1-1.8c0,1.6-0.5,3-1.3,4.2c-0.8,1.2-1.9,2-3.4,2.6c-2.4,0.9-4.6,0.9-6.7-0.1c-2.1-1-3.6-2.7-4.5-5.2
                        c-0.9-2.3-1-4.5-0.4-6.5c0.8-2.4,2.4-4.1,4.9-5c1.4-0.5,2.8-0.7,4.2-0.4C51.6,509.5,52.9,510.3,54.1,511.5z M59.4,510.7
                        c-1,0.4-1.6,0.9-2,1.7c-0.3,0.8-0.3,1.6,0,2.5c0.4,0.9,0.9,1.6,1.7,1.9c0.8,0.4,1.6,0.3,2.6,0c0.9-0.4,1.6-0.9,1.9-1.7
                        c0.3-0.8,0.3-1.6,0-2.5c-0.4-0.9-0.9-1.6-1.7-1.9C61.2,510.3,60.4,510.3,59.4,510.7z M48.2,514.4c-1.4,0.5-2.3,1.3-2.8,2.2
                        c-0.5,1-0.5,2-0.2,3c0.4,1,1.1,1.7,2.1,2.1c1,0.4,2.2,0.3,3.5-0.2c1.2-0.5,2-1.2,2.5-2.1s0.5-2,0.1-3c-0.5-1.2-1.2-1.9-2.3-2.2
                        C50.2,514,49.2,514,48.2,514.4z M45.6,415.5l0.5,5.3l-19.8,1.8c2,1.8,3.5,3.9,4.6,6.4l-4.8,0.4c-0.6-1.3-1.6-2.7-3-4.2
                        c-1.4-1.5-3-2.5-4.7-2.9l-0.4-4.3L45.6,415.5z M44.6,394.5l0.2,5.3l-19.9,0.6c1.9,1.9,3.3,4.1,4.2,6.7l-4.8,0.1
                        c-0.5-1.4-1.4-2.8-2.7-4.4c-1.3-1.6-2.8-2.6-4.5-3.2l-0.1-4.3L44.6,394.5z M55.5,301l-1.2,5.1L35,301.5c1.3,2.3,2.1,4.8,2.3,7.6
                        l-4.7-1.1c-0.1-1.4-0.6-3.1-1.4-5c-0.8-1.9-2-3.3-3.5-4.3l1-4.2L55.5,301z M60.4,283.9l-5.3-1.6L51.8,293l-4.4-1.4l-13.2-16.6
                        l1.3-4.2l16.7,5.1l1-3.3l4.4,1.4l-1,3.3l5.3,1.6L60.4,283.9z M50.7,280.9l-9-2.8l7.1,8.8L50.7,280.9z M95.2,194.9l2.4-4.5
                        c0.9,0.5,1.7,0.7,2.5,0.5c0.7-0.2,1.3-0.6,1.8-1.3c0.6-0.9,0.7-1.9,0.3-3.1c-0.4-1.2-1.8-2.8-4.3-4.7c0.5,2,0.2,3.8-0.9,5.4
                        c-1.2,1.8-3,2.9-5.2,3.2c-2.3,0.3-4.5-0.2-6.7-1.7c-2.3-1.6-3.7-3.5-4.2-5.9c-0.5-2.3,0-4.6,1.5-6.7c1.6-2.3,3.8-3.6,6.6-3.8
                        c2.8-0.3,6.2,1,10.3,3.8c4.1,2.8,6.6,5.7,7.4,8.5c0.8,2.8,0.3,5.4-1.4,7.9c-1.2,1.8-2.7,2.9-4.4,3.3S97.3,195.8,95.2,194.9z
                        M92.5,178.5c-1.4-1-2.7-1.4-3.9-1.3s-2.1,0.6-2.7,1.4c-0.6,0.8-0.7,1.7-0.4,2.7c0.3,1,1.1,1.9,2.6,2.9c1.5,1,2.7,1.5,3.8,1.3
                        c1.1-0.1,1.9-0.6,2.5-1.5c0.6-0.8,0.7-1.8,0.5-2.8C94.5,180.3,93.7,179.4,92.5,178.5z M172.1,118.5l-4,3.4l-12.8-15.2
                        c-0.3,2.6-1.2,5.1-2.6,7.4l-3.1-3.7c0.8-1.2,1.4-2.8,1.8-4.8c0.4-2,0.3-3.8-0.3-5.5l3.3-2.8L172.1,118.5z M189.3,99.2l2.9,3.9
                        l-14.8,11c-0.9-1.6-1.5-3.4-1.7-5.3c-0.2-1.9,0.1-4.9,0.8-8.8c0.6-3.2,0.9-5.3,0.8-6.2c-0.1-1.3-0.4-2.4-1.1-3.2
                        c-0.7-0.9-1.5-1.5-2.4-1.6c-0.9-0.1-1.8,0.1-2.7,0.8c-0.9,0.7-1.4,1.4-1.5,2.4c-0.1,0.9,0.2,2,1.1,3.3l-4.5,2.7
                        c-1.5-2.5-1.9-4.8-1.4-6.8c0.6-2,1.9-3.7,3.8-5.2c2.2-1.6,4.3-2.3,6.4-2.1c2.1,0.2,3.8,1.2,5.1,3c0.7,1,1.3,2.1,1.6,3.2
                        c0.3,1.2,0.4,2.5,0.4,4.1c0,1-0.3,2.7-0.7,4.9c-0.4,2.2-0.7,3.7-0.7,4.3c-0.1,0.7-0.1,1.3,0,1.8L189.3,99.2z M266.5,55.6l4.8-2.3
                        c0.5,1.1,1.3,1.8,2.2,2.2c0.9,0.4,1.8,0.5,2.8,0.1c1-0.4,1.8-1.1,2.2-2.2c0.4-1.1,0.3-2.5-0.3-4.2c-0.6-1.6-1.3-2.7-2.3-3.2
                        c-1-0.5-2.1-0.6-3.2-0.2c-1.4,0.5-2.5,1.6-3.2,3.2l-4.2,0.8L263,35.5l13.2-4.6l1.6,4.7l-9.4,3.3l0.8,4.7c0.9-0.9,1.9-1.6,3.1-2
                        c2.2-0.8,4.4-0.6,6.5,0.4c2.1,1.1,3.6,2.9,4.5,5.4c0.8,2.1,0.8,4.3,0.2,6.4c-0.9,2.9-2.8,4.9-5.8,5.9c-2.4,0.8-4.6,0.9-6.5,0.1
                        C269.1,59.1,267.6,57.6,266.5,55.6z"/>
                </g>
            </g>
        </svg>
    </div>
</div>