<div class="sidebar">

    <header>
        <h1>Darts Scorekeeper</h1>

        <nav>
            <ul>
                <li ng-repeat="item in app.menu">
                    <a ui-sref="{{ item.state }}" ng-class="{ 'active': item.state === app.state.current.name }">{{ item.name }}</a>
                </li>
            </ul>
        </nav>

        <small>
            A <a href="http://lounge.district01.be" target="new_blank">d01-Lounge</a> project by <a href="http://mhx.be" target="new_blank">Mike Henderyckx</a>.
        </small>

    </header>
</div>

<div class="main">
    <div ui-view class="content"></div>
</div>