<h2>New game</h2>

<h3>Players</h3>

<ul class="list">
    <li ng-repeat="player in new.players">
        <div class="player-number">Player {{ $index + 1 }} :</div>
        <div class="player-name">{{ player.name }}<span class="italic" ng-if="player.nickname"> - "{{ player.nickname }}"</span></div>
    </li>
</ul>

<a class="btn" ng-click="new.startGame()">Start game</a>