<h2>Home</h2>

<p>With the Darts Scorekeeper app, you play a game of darts at lightning speed. No more waiting for difficult calculations after each round. Let the app do it for you!</p>
<p>This makes it possible to enjoy the essence of darts: throwing darts.</p>

<h3>How does it work?</h3>
<p>
    Well, simple! Just click on <a ui-sref="app.new">New game</a> and fill in the amount of players that will be participating in the game, with their names.
    After that, you can start a game.
</p>

<p>
    The app will show who's turn it is to throw some darts.
    After each throw, you can easily click the area where the dart landed, so the app can calculate the score.
</p>

<p>
    It wil also keep track of the total score of all the players. This provides a nice overview of the current game.
</p>

<h3>Can I keep records of this legendary game I've just played?</h3>
<p>Well, sure! When a game has ended, the user will be given the opportunity to save the current game.</p>
<p>There will be 2 buttons available to download it in a <code>.json</code> or <code>.csv</code> file.</p>