<h2>About</h2>

<p>Darts Scorekeeper is a simple web application that makes it possible to easily track the score of a darts game. At the end of the game, the user can locally download the result in a <code>.json</code> or <code>.csv</code> file.</p>

<p>This project is built by during a <a href="http://lounge.district01.be">District01 Lounge</a> by <a href="http://mhx.be" target="new_blank">Mike Henderyckx</a>.</p>